    html body{
    background-color: #d1e0fc80;
    font-family: Arial;
    }

    h1{
    font-family: Arial;
    color: #010f0f;
    margin-left: 3%;
    }
    h2{
    color: #07a8a0;
    margin-left: 2%;
    }
    h3{
    color: #07a8a0;
    margin-left: 2%;
    }
    h4{
    color: #07a8a0;
    margin-left: 2%;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    color: #07a8a0;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){
    background-color: #fbfbfdc7;
    }

    th {
    background-color: #07a8a0;
    color: #fbfbfdc7;
    font-size: 20px;
    }

    /* hr {
    background-color: #07a8a0;
    opacity: 0.20;
    size: 2px;
    } */